@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        <li><a asp-area="" asp-controller="Clients" asp-action="Index">Clients</a></li>
        <li><a asp-area="" asp-controller="Instructors" asp-action="Index">Instructors</a></li>
        <li><a asp-area="" asp-controller="Classes" asp-action="Index">Classes</a></li>
    </ul>
</div>

